mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className, description, attrRole)
  if role 
    img(src=require(`images/${path}`) class=className role=attrRole)
  else
    img(src=require(`images/${path}`) class=className alt=description)

mixin skills(item, skillName)
  li(class=item)
    svg(viewBox="0 0 170 170" preserveAspectRatio="none").skill
      circle(cx="85" cy="85" r="65" class='skill__progress skill__progress--' + skillName)
      circle(cx="85" cy="85" r="65").skill__circle
    h5.skills__text=skillName